@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

nav{
  background-color: #000;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;

}

.container{
  background-color: rgb(209, 212, 212);
  min-height: 100vh;
}

.container > h1{
  text-align: center;
  padding-top: 30px;
}

.container > form{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

input , textarea , button{
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.btn{
  background-color: #38c100;
  font-size: 15px;
  color: white;
  word-spacing: 2px;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
}

/* *{
  border: 1px solid #000;
} */

.task{
  display: flex;
  width: 50%;
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.task > div{
  width: 100%;
}

.task > p{
  font-size : 14px;
}

.task span{
  color: rgb(117, 117, 117);
  font-size: 13px;
}

.task button{
  width :20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.task button:hover{
  background-color: crimson;
}
